[submodule "20240814_kgmoo_RNAge"]
	path = 20240814_kgmoo_RNAge
	url = https://github.com/kgmoo/20240814_kgmoo_RNAge.git
[submodule "20250908_kgmoo_hSMMeta"]
	path = 20250908_kgmoo_hSMMeta
	url = https://github.com/kgmoo/20250908_kgmoo_hsMMeta.git
[submodule "20250428_kgmoo_ATACge"]
	path = 20250428_kgmoo_ATACge
	url = https://github.com/kgmoo/20250428_kgmoo_ATACge.git
[submodule "20240124_kgmoo_WolverineScripts"]
	path = 20240124_kgmoo_WolverineScripts
	url = https://github.com/kgmoo/20240124_kgmoo_WolverineScripts.git
